<!DOCTYPE html>
<html lang="en">

<!-------------------------------- Include Header partials ---------------------->
<head>
<%- include("./partials/header.ejs") %> 
<link rel="stylesheet" href="/public/new-style.css">
</head>
<body>
    <!------------------------Create a form that includess hp, attack, speeds stats, id: req.params.id etc.------------------------>
    <form action="/<%=id%>?_method=PUT" method="POST">
    HP:<br> <input type="number" name="hp" value = "<%=stats.hp%>"/><br>
    ATTACKS:<br> <input type="number" name="attack" value = "<%=stats.attack%>"/><br>
    DEFENSES:<br> <input type="number" name="defense" value = "<%=stats.defense%>"/><br>
    SPATTACK:<br> <input type="number" name="spattack" value = "<%=stats.spattack%>"/><br>
    SPDEFENSE:<br> <input type="number" name="spdefense" value = "<%=stats.spdefense%>"/><br>
    SPEED IT UP:<br> <input type="number" name="speed" value = "<%=stats.speed%>"/><br>
    <input type="submit" value="Submit Changes">
    <nav>
        <a href="/pokemon">
    </nav>
    </form>
</body>
</html>