<!DOCTYPE html>
<html lang="en">

<!-------------------------------- Include Header partials ---------------------->
<head>
<%- include("./partials/header.ejs") %> 
<link rel="stylesheet" href="/public/new-style.css">
</head>
<body>
    <!------------------------Create a form that includess hp, attack, speeds stats, id: req.params.id etc.------------------------>
    <form action="/pokemon/<%= index %>?_method=PUT" method="POST">
        Name: <input type="text" name="name" value="<%= pokemon.name %>" id="name">
        Image:<input type="url" name="img" value="<%= pokemon.img %>" id="img"><br>
        Types: 
        <input type="text" name="type" value="<%= pokemon.type[0] %>">
        <input type="text" name="type" value="<%= pokemon.type[1] %>"> <br>
        Stats: 
 
        <input type="text" name="hp" value="<%= pokemon.stats.hp %>">
        <input type="text" name="attack" value="<%= pokemon.stats.attack %>">
        <input type="text" name="defense" value="<%= pokemon.stats.defense %>">

        <input type="submit" value="Create" />
    </form>
</body>
</html>


<!-- <nav>
        <a href="/pokemon/">Go Back
    </nav>