<!DOCTYPE html>
<html lang="en">
    <!--------------include partials--------------->
  <head>
    <%- include("./partials/header.ejs") %>
    <link rel="stylesheet" href="/public/index-style.css">
  </head>
  <body>
    <!------------route pokemon variable to new.ejs, add button and a heading-------------->
    <div id="header">
      <h1> Pokedex </h1>

      <!-----------routes to new page------->
      <a href="/new">
        <button>Add A Pokemon</button>
      </a>
    </div>
<!-----------------write a foor loop on index page and display img-------------->
    <div class="container">
    <% for(let i = 0; i < pokemon.length; i++) {%>
    <div class="pokemonCard">
      <h4><%= pokemon[i].name%></h4>
      <a href="/<%=i+1%>">

        <!---------------------have img from the array-------------->

      <img src="<%= pokemon[i].img%> " />

      <!---------------Delete Method on form to override----------->
      <form action='/<%=i%>?_method=DELETE' method="POST">
        <input type="submit" value="Delete">
    </form>
  </a>
    </div>
    <% } %>
  </div>
  </body>
</html>