<!DOCTYPE html>
<html lang="en">
    <!--------------include partials--------------->
  <head>
    <%- include("./partials/header.ejs") %>
    <link rel="stylesheet" href="/public/index-style.css">
  </head>
  <body>
    <!------------route pokemon variable to new.ejs, add button and a heading-------------->
    <div id="header">
      <h1> Pokedex , Yessir</h1>

      <!-----------routes to new page------->
      <a href="/new">
        <button>Add Some Pokemon</button>
      </a>
    </div>
<!-----------------WRITE A FOR LOOP TO index page and display img-------------->
    <div class="container">
    <% for(let i = 0; i < pokemon.length; i++) {%>
    <div class="pokemonCard">
      <h4><%= pokemon[i].name%></h4>
      <a href="/pokemon/<%=i%>">

        <!---------------------HAVE IMAGE OF ARRAY-------------->

      <img src="<%= pokemon[i].img%> " />

      <!---------------Delete Method on form to override----------->
      <form action='/pokemon/<%=i%>?_method=DELETE' method="POST">
        <input type="submit" value="Delete">
    </form>
  </a>
    </div>
    <% } %>
  </div>
   <!-------------------REROUTE THE USER TO NEW PAGE---------------->
  <nav>
      <a href="/pokemon/new"> Create A New Pokemon</a>
  </nav>
  </body>
</html>