<!DOCTYPE html>
<html lang="en">
<head>
<%- include("./partials/header.ejs") %> 
<link rel="stylesheet" href="/public/show-style.css"
</head>
<body>
    <!-- variabels: id,name,img, type, stats, moves, damages, misc -->
    <div class="header">
        <h1>Pokedex</h1>
        <a href="/">
            <button>BACK</button>
        </a>
        <a href="/new">
            <button>ADD POKEMON</button>
        </a>
    </div>
    <div class="info">
    <div class="idCard">
        <h3><%=name%></h3>
        <h4><%=id%> </h4>
        <img src="<%=img%>">
    </div>
    <div class="typeCard">
        <h4>Type:</h4>
        <% for(let i = 0; i < 2; i++) {%>
            <p><%=type[i]%> </p>
        <%}%>  
    </div>
    <div class="statsCard">
        <h4>Stats:</h4>
        <% for(let key in stats){%> 
        <p><%=key%>: <%=stats[key]%>  </p>
    <%}  %> 
    <a href="/<%=index%>/edit">
        <button class="edit">Edit</button>
    </a>
    </div>
    </div>
</body>
</html>